html, body {
	font-family: 'Raleway', sans-serif !important;
}

h1, h2 {
	font-family: 'Roboto Slab', serif !important;
}

h1 {
	font-size: 5rem !important;
}

.home {
	text-shadow:1px 1px black;
	font-size: 5rem !important;
}

nav {
	background: slategrey;
	box-shadow: 0 1px 5px black;
	opacity: .75;
}


.collapsing, .show {
	text-align: right;
}

.scrolling-box {
	height: 100vh;
	overflow-x: hidden;
	scroll-behavior: smooth;
	width: 100vw;
}

header {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(rgba(150, 133, 143, 0.75), rgba(111, 121, 147, 0.75)), url(photos/rmnp.jpg) center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.header-content {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects {
	width: 100%;
	min-height: 100vh;
	background-color: #EAEAEA;
}

.samples{
	display: flex;
	justify-content: space-around;
}

.sample1 {
	background-image: url("photos/runners.jpeg");
}

.sample2 {
	background-image: url("photos/sandias.jpg");
}

.sample3 {
	background-image: url("photos/bootstrapThumbnail.png");
}

.sample4 {
	background-image: url("photos/chess.jpeg");
}

.samples a{
	font-size: 2.5rem;
	text-shadow:1px 1px black;
	height: 50vh;
	width: auto;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	border-radius: 25px;
	transition: .3s linear;
	box-shadow: 1px 2px 5px black;
}

.samples a:hover {
	transform: scale(1.05);
	color: white;
}

.samples p {
	padding: .5rem;
	background: linear-gradient(127deg, rgba(111, 121, 147, 0.7), rgba(147, 175, 174, 0.7) 70.71%);
	border-radius: 15px;
}

.about {
	position: relative;
	width: 100%;
	min-height: 100%;
	background: linear-gradient(rgba(147, 153, 162, 0.75), rgba(147, 175, 174, 0.75)), url("photos/desertsnow.jpg") center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	display: flex;
	align-items: center;
}

.opaqueBG {
	background: rgba(234, 234, 234, 0.3);
	padding: 3% 0;
	border-radius: 25px;
}

.contact {
	min-height: 100%;
	width: 100%;
	background-color: #EAEAEA;
}

.contactItem {
	width: 85%;
}


.slide-in-left{
	transform: translateX(-50%) scale(0.95);
	transition: 1s;
}

.slide-in-right{
	transform: translateX(50%) scale(0.95);
	transition: 1s;
}

.slide-in.active{
	transform: translateX(0) scale(1);
	transition: 1s;
}

.recaptcha {
	display: flex;
	justify-content: center ;
	align-items: center;
}

.outputArea {
	width: 85%;
	margin: .5rem auto;
}

.logo img {
	width: 50px;
	margin: 0 10px;
	padding: 10px 0;
	transition: .3s;
}

.logo img:hover {
	transform: scale(1.15);
}

footer {
	background-color: #ADADAD;
	overflow-x: hidden;
}

.scale {
	transform: scale(.75);
	transition: 1s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}
