* {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

html, body {
	height: 100vh;
}

#profPic {
	width: 20%;
	border-radius: 50%;
}

.wireframe {
	width: 50%;
}

nav {
	background: slategrey;
	box-shadow: 0 1px 5px black;
	opacity: .75;
}

.collapsing, .show {
	text-align: right;
}


header {
	position: relative;
	width: 100%;
	min-height: auto;
	background-image: linear-gradient(rgba(150, 133, 143, 0.75), rgba(111, 121, 147, 0.75)), url(photos/rmnp.jpg);
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.about {
	position: relative;
	width: 100%;
	min-height: auto;
	background-image: linear-gradient(rgba(144, 153, 162, 0.75), rgba(147, 175, 174, 0.75)), url(photos/desertsnow.jpg);
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.header-content {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact {
	min-height: 100%;
	width: 100%;

}

.nav-link {
	scroll-behavior: smooth;
}

.logo img {
	width: 50px;
	margin: 0 10px;
	padding: 10px 0;
}